.navlist {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.navlist.active {
    visibility: visible;
    opacity: 1;
}

.navlist.active ul {
    position: relative;
    background: #fff;
    width: 600px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    transform: translateY(-50px);
    transition: 0.3s ease;
}


.nav-close-btn {
    position: absolute;
    background: url("../img/close-btn.png")no-repeat;
    filter: invert(1);
    background-size: 12px;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    display: flex;
    justify-content: left;
    align-items: center;
}


.navlinks ul li a {
    color: #542327;
}


.burger {
    display: block;
}

.hnavresp {
    height: 55px;
}

.vclassresp {
    opacity: 0;
}

/* Homepage  */
.homepage .gold{
    left: 18%;
    top: 122px;
    width: 66%;
}

.home-main .home-head{
    top: 134px;
    font-size: 24px;
    right: 0px;
}

.home-main img{
    width: 80%;
    bottom: -38px;
}

.home-main .hp-dn{
    bottom: 43px;
}

.hp-content{
    bottom: 28px;
}

.hp-content p{
    margin: 12px 5%;
    font-size: 15px;
}

.home-main .hp-dn p {
    margin: 10px 10px;
    font-size: 16px;
}

.hp-btn{
    bottom: 24px;
}

.home-btn{
    padding: 10px 22px;
    font-size: 16px;
    margin: 7px 7px;
}

#about{
    bottom: 20px;
}

.heading {
    font-size: 1.1rem;
    margin: 60px 10px;
}

.para{
    font-size: 17px;
    text-align: justify;
    margin: 48px 8%;
    margin-bottom: 13%;
}

.abo-row {
    grid-template-columns: repeat(2, 1fr);
    margin: 7% 14px;
}

.abo-card {
    width: 136px;
    height: 100px;
    margin: 10px 0px;
}

.abo-card h1 {
    font-size: 27px;
  }
  
  .abo-card p {
    font-size: 18px;
  }
  


.Eventcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.eve-card .rec {
    width: 300px;
    height: 400px;
}

.eve-card .circle {
    left: 63px;
    top: 44px;
}

.eve-btn {
    top: 28px;
}

.Competition .heading{
    font-size: 1.4rem;
    margin: 50px 0px;
}

.comp-row {
    flex-direction: column;
    margin: 30px 27px;
}

.comp-card {
    margin: 14px;
    width: 240px;
    height: 170px;
}

.comp-head {
    font-size: 22px;
}

.eve-info h1 {
    font-size: 2.2rem;
  }
  
.eve-info p {
    font-size: 17px;
    margin: 10px 0%;
}
  