@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    transition: 0.5s ease;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.common{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background: radial-gradient(100% 100% at 28.98% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 20%);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Events CSS  */

#Events{
    color: white;
    background: black;
    padding: 50px 20px;
}

.eve-info h1 {
    text-align: center;
    margin: 30px 10px;
    font-size: 2.5rem;
}

.eve-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px 6%;
}

.Eventcard{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.eve-card{
    margin: 10px;
}
.eve-card .circle{
    width: 200px;
    height: 200px;
    background-color: #B49791;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 85px;
    top: 60px;
    border: 20px solid black;
    text-align: center;
}

.circle .colo{
    color: #6A1313;
    font-size: 27px;
}

.eve-card .rec{
    width: 370px;
    height: 390px;
    background-color: rgba(106, 19, 19, 0.8);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    text-align: justify;
    font-size: 18px;
}

.eve-btn{
    position: relative;
    top: 45px;
    padding: 15px 34px;
    border-radius: 15px;
    border: none;
    color: #6A1313;
    font-weight: 600;
    font-size: 17px;
}

/* About CSS  */

#about{
    color: white;
    background: url('../img/main.jpg') no-repeat center center/cover;
    padding: 10px 0px;
}

.abo{
    display: flex;
    /* position: relative; */
}

.gear img{
    position: absolute;
}

.abo-img{
    display: flex;
}

.abo-img .gear-img{
    position: relative;
    left: 12px;
    top: 2px;
    width: 13%;
    height: 10%;
}

.triangle{
    position: relative;
    left: 35%;
}
.heading{
    text-align: center;
    margin: 70px 20px;
    font-size: 2.0rem;
}

.para{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* text-align: center; */
    margin: 50px 6%;
    margin-bottom: 9%;
}

.abo-row{
    display: flex;
    justify-content: space-around;
    margin: 7% 10px;
}

.abo-card{
    width: 200px;
    height: 140px;
}

.abo-card h1{
    font-size: 45px;
}
.abo-card p{
    font-size: 20px;
}

/* Competiton Style  */
#competition{
    color: white;
    background: black;
    padding: 50px 20px;
}

.comp-card{
    height: 200px;
    width: 280px;
    flex-direction: row;
}

.comp-head{
    font-size: 26px;
}

.comp-row{
    display: flex;
    justify-content: space-around;
    margin: 50px 35px
}

/* Workshops Style  */
#workshop,#speakers{
    background: #010101;
    font-family: 'Open Sans';
    font-style: normal;
}
.hm-heading,.hm-desc,.ws-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.ws-card-container{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
}
.hm-heading{
    padding: 30px 0; 
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
.hm-desc{
    padding: 60px 180px 0 180px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
}
.ws-container{
    padding: 60px 180px;
    background-image: url(../img/ws-images/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
}
.ws-card{
    width: 507px;
    height: 321px;
    background: radial-gradient(100% 100% at 28.98% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px;
    z-index: 1;
}
.ws-card img{
    width: 200px;
    height: 200px;
}
.ws-card h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding-top: 10px;
}
/* .ws-center-img{
    position: relative;
    bottom: 1185px;
    left: 715px;
    opacity: 1;
}
.ws-center-img img{
    width: 470px;
} */
@media (min-width:901px){
    .ws-card-container{
        width: 100%;
    }
}
@media (max-width:900px){
    .ws-card-container{
        flex-direction: column;
        justify-content: center;
    }
    /* .ws-center-img{
        opacity: 0;
    } */
    .ws-container{
        padding: 60px 60px;
    }
    .hm-desc{
        padding: 60px 100px 0 100px;
    }
    .ws-container{
        background: none;
    }
}

@media ( max-width:480px){
    .hm-desc{
        padding: 30px 20px 0 20px;
    }
    .hm-heading{
        font-size: 30px;
    }
    .ws-card{
        width: 325px;
        height: 250px;
        margin: 20px;
    }
    .ws-card img{
        width: 150px;
        height: 150px;
    }
}


/* Speaker Styling  */


.sp-container{
    display: grid;
    place-items: center center;
    box-sizing: border-box;
    padding: 60px;
}
.sp-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-sizing: border-box;
    padding: 60px;
    /* grid-gap: auto; */
    width: 100%;
}
.sp-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sp-image img{
    height: 314px;
    width: 314px;
    border-radius: 157px;
}
.sp-speaker-name{
    width: 361px;
    height: 117px;
    background: radial-gradient(100% 100% at 28.98% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    position: relative;
    bottom: 75px;
    border: 4px solid #E36D3D ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sp-speaker-name h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #E36D3D;
}
.sp-button{
    width: 382px;
    height: 80px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(245, 83, 10, 0.61);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sp-button h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #E36D3D;
    padding-right: 10px;
}

@media(max-width:900px){
    .sp-card-container{
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
    }
    .sp-container{
        padding: 30px;
    }
    .sp-desc{
        padding-top: 30px;
    }
}
@media(max-width:480px){
    .sp-card-container{
        grid-template-columns: repeat(1,1fr);
        padding: 0px;
    }
    .sp-image img{
        height: 250px;
        width: 250px;
        border-radius: 125px;
    }
    .sp-speaker-name{
        width: 261px;
        height: 85px;
    }
    .sp-button{
        width: 252px;
        height: 60px;
    }
    .sp-button h3{
        font-size: 16px;
    }
    .sp-speaker-name h3{
        font-size: 24px;
    }
}